.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 105%;
  width: 93%;
  background-color: #383b41;
  border-radius: 10px;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0);
  text-align: left;
}

.modal nav {
  position: relative;
  padding: 10px;
}

.modal nav .icon {
  cursor: pointer;
  position: absolute;
  right: -10px;
  top: -10px;
}

.modal-content {
  padding: 15px 30px;
  font-size: 1.5em;
}

.modal-content span {
  margin-right: 20px;
}

.modal-countdown {
  display: flex;
  align-items: center;
}
