* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #21252b;
  height: 100vh;
}

.App {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.App > * {
  width: 100%;
  text-align: center;
}

.timer-wrapper {
  margin-bottom: 3rem;
}

.icon {
  cursor: pointer;
}

@media only screen and (min-width: 600px) {
  .App {
    width: 330px;
  }
}
